files/FileSystemToMarkLogic.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>01651004-c8dc-1154-ef23-ffc434c459af</groupId>
    <name>FileSystemToMarkLogic</name>
    <snippet>
        <connections>
            <id>c47a46ae-982a-3155-0000-000000000000</id>
            <parentGroupId>9c20198f-d065-3460-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>9c20198f-d065-3460-0000-000000000000</groupId>
                <id>d300ebe9-1d20-3b66-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>9c20198f-d065-3460-0000-000000000000</groupId>
                <id>e0bd2d32-9507-3340-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>da09a698-08b0-3a1a-0000-000000000000</id>
            <parentGroupId>9c20198f-d065-3460-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>9c20198f-d065-3460-0000-000000000000</groupId>
                <id>aaba6198-2730-3ad4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>9c20198f-d065-3460-0000-000000000000</groupId>
                <id>d300ebe9-1d20-3b66-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>1d6046c6-9a83-3621-0000-000000000000</id>
            <parentGroupId>9c20198f-d065-3460-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-marklogic-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.7.1.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Host</key>
                    <value>
                        <name>Host</name>
                    </value>
                </entry>
                <entry>
                    <key>Port</key>
                    <value>
                        <name>Port</name>
                    </value>
                </entry>
                <entry>
                    <key>Security Context Type</key>
                    <value>
                        <name>Security Context Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Username</key>
                    <value>
                        <name>Username</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database</key>
                    <value>
                        <name>Database</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>Client Authentication</key>
                    <value>
                        <name>Client Authentication</name>
                    </value>
                </entry>
            </descriptors>
            <name>MarkLogicClientService -- Localhost/Documents</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Host</key>
                </entry>
                <entry>
                    <key>Port</key>
                </entry>
                <entry>
                    <key>Security Context Type</key>
                </entry>
                <entry>
                    <key>Username</key>
                    <value>admin</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Database</key>
                    <value>Documents</value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>Client Authentication</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.marklogic.controller.DefaultMarkLogicDatabaseClientService</type>
        </controllerServices>
        <processors>
            <id>aaba6198-2730-3ad4-0000-000000000000</id>
            <parentGroupId>9c20198f-d065-3460-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>445.3570985437907</y>
            </position>
            <bundle>
                <artifact>nifi-marklogic-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.7.1.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>DatabaseClient Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.marklogic.controller.MarkLogicDatabaseClientService</identifiesControllerService>
                            <name>DatabaseClient Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Thread Count</key>
                        <value>
                            <name>Thread Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Collections</key>
                        <value>
                            <name>Collections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Format</key>
                        <value>
                            <name>Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job ID</key>
                        <value>
                            <name>Job ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Name</key>
                        <value>
                            <name>Job Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MIME Type</key>
                        <value>
                            <name>MIME Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Server Transform</key>
                        <value>
                            <name>Server Transform</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Temporal Collection</key>
                        <value>
                            <name>Temporal Collection</name>
                        </value>
                    </entry>
                    <entry>
                        <key>URI Attribute Name</key>
                        <value>
                            <name>URI Attribute Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>URI Prefix</key>
                        <value>
                            <name>URI Prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>URI Suffix</key>
                        <value>
                            <name>URI Suffix</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>DatabaseClient Service</key>
                        <value>1d6046c6-9a83-3621-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Thread Count</key>
                        <value>3</value>
                    </entry>
                    <entry>
                        <key>Collections</key>
                    </entry>
                    <entry>
                        <key>Format</key>
                    </entry>
                    <entry>
                        <key>Job ID</key>
                    </entry>
                    <entry>
                        <key>Job Name</key>
                    </entry>
                    <entry>
                        <key>MIME Type</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>rest-reader,read,rest-writer,update</value>
                    </entry>
                    <entry>
                        <key>Server Transform</key>
                    </entry>
                    <entry>
                        <key>Temporal Collection</key>
                    </entry>
                    <entry>
                        <key>URI Attribute Name</key>
                        <value>marklogic.uri</value>
                    </entry>
                    <entry>
                        <key>URI Prefix</key>
                    </entry>
                    <entry>
                        <key>URI Suffix</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutMarkLogic</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.marklogic.processor.PutMarkLogic</type>
        </processors>
        <processors>
            <id>d300ebe9-1d20-3b66-0000-000000000000</id>
            <parentGroupId>9c20198f-d065-3460-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>232.35703750863445</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.7.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>marklogic.uri</key>
                        <value>
                            <name>marklogic.uri</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>marklogic.uri</key>
                        <value>/files/${filename}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>e0bd2d32-9507-3340-0000-000000000000</id>
            <parentGroupId>9c20198f-d065-3460-0000-000000000000</parentGroupId>
            <position>
                <x>2.0634765625</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.7.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <name>Keep Source File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>F:\apps\nifi-1.7.1\drop</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
    </snippet>
    <timestamp>08/06/2018 16:07:36 PDT</timestamp>
</template>
