files/PutMarkLogicRecordExample.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Example showing how to use the PutMarkLogicReocrdExample.</description>
    <groupId>b8f85592-0166-1000-de47-efc67ed2bc1f</groupId>
    <name>PutMarkLogicRecordExample</name>
    <snippet>
        <connections>
            <id>204707ae-ae84-387c-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>018dee96-ed27-3f74-0000-000000000000</groupId>
                <id>d42b1e60-f480-39d0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>018dee96-ed27-3f74-0000-000000000000</groupId>
                <id>f28cec69-4695-3dec-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3e47c9ab-87c4-3a9a-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>018dee96-ed27-3f74-0000-000000000000</groupId>
                <id>430fd61e-fd97-3c88-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>018dee96-ed27-3f74-0000-000000000000</groupId>
                <id>500de41c-38b8-3414-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4badd36d-6d8f-33f2-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>018dee96-ed27-3f74-0000-000000000000</groupId>
                <id>f28cec69-4695-3dec-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>018dee96-ed27-3f74-0000-000000000000</groupId>
                <id>430fd61e-fd97-3c88-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>57725a08-4807-3810-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>018dee96-ed27-3f74-0000-000000000000</groupId>
                <id>a8c92ac9-7d39-3c90-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>018dee96-ed27-3f74-0000-000000000000</groupId>
                <id>d42b1e60-f480-39d0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6f7973d3-ff7a-3f17-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>018dee96-ed27-3f74-0000-000000000000</groupId>
                <id>fcf4e091-8636-31af-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>018dee96-ed27-3f74-0000-000000000000</groupId>
                <id>d42b1e60-f480-39d0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>5e076fce-b808-3d27-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-marklogic-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Host</key>
                    <value>
                        <name>Host</name>
                    </value>
                </entry>
                <entry>
                    <key>Port</key>
                    <value>
                        <name>Port</name>
                    </value>
                </entry>
                <entry>
                    <key>Load Balancer</key>
                    <value>
                        <name>Load Balancer</name>
                    </value>
                </entry>
                <entry>
                    <key>Security Context Type</key>
                    <value>
                        <name>Security Context Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Username</key>
                    <value>
                        <name>Username</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database</key>
                    <value>
                        <name>Database</name>
                    </value>
                </entry>
                <entry>
                    <key>External name</key>
                    <value>
                        <name>External name</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>Client Authentication</key>
                    <value>
                        <name>Client Authentication</name>
                    </value>
                </entry>
            </descriptors>
            <name>DefaultMarkLogicDatabaseClientService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Host</key>
                    <value>localhost</value>
                </entry>
                <entry>
                    <key>Port</key>
                    <value>8000</value>
                </entry>
                <entry>
                    <key>Load Balancer</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Security Context Type</key>
                    <value>DIGEST</value>
                </entry>
                <entry>
                    <key>Username</key>
                    <value>admin</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Database</key>
                    <value>Documents</value>
                </entry>
                <entry>
                    <key>External name</key>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>Client Authentication</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.marklogic.controller.DefaultMarkLogicDatabaseClientService</type>
        </controllerServices>
        <controllerServices>
            <id>9a8d66e2-035d-3909-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-oneline</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>aba8be98-c81a-35f5-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-text-property</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>{
    "name": "AllObjects",
    "type": "record",
    "fields": [
    {
        "name": "Objects",
        "type":  {
        "type":"array",
        "items":
            {
                "name": "Objects",
                "type": "record",
                "fields": [
                {
                    "name": "Object",
                    "type":
                    {
                        "name":"Object",
                        "type": "record",
                        "fields": [
                        {
                            "name": "type",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "type": "string"
                        },
                        {
                            "name": "infoItem",
                            "type":
                            {
                                "name": "infoItem",
                                "type": "record",
                                "fields": [
                                {
                                    "name": "name",
                                    "type": "string"
                                },
                                {
                                    "name": "values",
                                    "type": {
                                    "type":"array",
                                    "items":
                                    {
                                        "name": "values",
                                        "type": "record",
                                        "fields": [
                                        {
                                            "name": "value",
                                            "type": "double"
                                        },
                                        {
                                            "name": "dateTime",
                                            "type":"string",
                                            "java-class":"java.util.Date"
                                        }]
                                    }}
                                }]
                            }
                        }]
                    }
                }]
            }
        }
    }]
}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <processors>
            <id>430fd61e-fd97-3c88-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <position>
                <x>1.1281368204367936</x>
                <y>242.55917964199944</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File to Fetch</key>
                        <value>
                            <name>File to Fetch</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Completion Strategy</key>
                        <value>
                            <name>Completion Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Move Destination Directory</key>
                        <value>
                            <name>Move Destination Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Move Conflict Strategy</key>
                        <value>
                            <name>Move Conflict Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log level when file not found</key>
                        <value>
                            <name>Log level when file not found</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log level when permission denied</key>
                        <value>
                            <name>Log level when permission denied</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File to Fetch</key>
                        <value>${absolute.path}/${filename}</value>
                    </entry>
                    <entry>
                        <key>Completion Strategy</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>Move Destination Directory</key>
                    </entry>
                    <entry>
                        <key>Move Conflict Strategy</key>
                        <value>Rename</value>
                    </entry>
                    <entry>
                        <key>Log level when file not found</key>
                        <value>ERROR</value>
                    </entry>
                    <entry>
                        <key>Log level when permission denied</key>
                        <value>ERROR</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>FetchFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>not.found</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>permission.denied</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.FetchFile</type>
        </processors>
        <processors>
            <id>500de41c-38b8-3414-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>listing-strategy</key>
                        <value>
                            <name>listing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Directory Location</key>
                        <value>
                            <name>Input Directory Location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include File Attributes</key>
                        <value>
                            <name>Include File Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>
                            <name>target-system-timestamp-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                            <name>et-state-cache</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>
                            <name>et-time-window</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>
                            <name>et-initial-listing-target</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-node-identifier</key>
                        <value>
                            <name>et-node-identifier</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>listing-strategy</key>
                        <value>timestamps</value>
                    </entry>
                    <entry>
                        <key>Input Directory</key>
                        <value>/Users/rdew/Downloads/</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Input Directory Location</key>
                        <value>Local</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>IOT-Data.json.zip</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Include File Attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>3 hours</value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>all</value>
                    </entry>
                    <entry>
                        <key>et-node-identifier</key>
                        <value>${hostname()}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ListFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListFile</type>
        </processors>
        <processors>
            <id>a8c92ac9-7d39-3c90-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <position>
                <x>402.2363201568701</x>
                <y>350.76887959283</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessageFailure</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
            <id>d42b1e60-f480-39d0-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <position>
                <x>477.05808209637235</x>
                <y>6.975223375639189</y>
            </position>
            <bundle>
                <artifact>nifi-marklogic-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>DatabaseClient Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.marklogic.controller.MarkLogicDatabaseClientService</identifiesControllerService>
                            <name>DatabaseClient Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Thread Count</key>
                        <value>
                            <name>Thread Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Collections</key>
                        <value>
                            <name>Collections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Format</key>
                        <value>
                            <name>Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job ID</key>
                        <value>
                            <name>Job ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Job Name</key>
                        <value>
                            <name>Job Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MIME type</key>
                        <value>
                            <name>MIME type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Server Transform</key>
                        <value>
                            <name>Server Transform</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Temporal Collection</key>
                        <value>
                            <name>Temporal Collection</name>
                        </value>
                    </entry>
                    <entry>
                        <key>URI Field Name</key>
                        <value>
                            <name>URI Field Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>URI Prefix</key>
                        <value>
                            <name>URI Prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>URI Suffix</key>
                        <value>
                            <name>URI Suffix</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>DatabaseClient Service</key>
                        <value>5e076fce-b808-3d27-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Thread Count</key>
                        <value>3</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>aba8be98-c81a-35f5-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>9a8d66e2-035d-3909-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Collections</key>
                        <value>iot-data</value>
                    </entry>
                    <entry>
                        <key>Format</key>
                    </entry>
                    <entry>
                        <key>Job ID</key>
                    </entry>
                    <entry>
                        <key>Job Name</key>
                    </entry>
                    <entry>
                        <key>MIME type</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>rest-reader,read,rest-writer,update</value>
                    </entry>
                    <entry>
                        <key>Server Transform</key>
                    </entry>
                    <entry>
                        <key>Temporal Collection</key>
                    </entry>
                    <entry>
                        <key>URI Field Name</key>
                    </entry>
                    <entry>
                        <key>URI Prefix</key>
                        <value>/iot-data/</value>
                    </entry>
                    <entry>
                        <key>URI Suffix</key>
                        <value>.json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutMarkLogicRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>batch_success</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.marklogic.processor.PutMarkLogicRecord</type>
        </processors>
        <processors>
            <id>f28cec69-4695-3dec-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <position>
                <x>8.453072442431221</x>
                <y>457.0755248340929</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Packaging Format</key>
                        <value>
                            <name>Packaging Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Packaging Format</key>
                        <value>zip</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>.*</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UnpackContent</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.UnpackContent</type>
        </processors>
        <processors>
            <id>fcf4e091-8636-31af-0000-000000000000</id>
            <parentGroupId>018dee96-ed27-3f74-0000-000000000000</parentGroupId>
            <position>
                <x>852.4567927933708</x>
                <y>346.78562574977377</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessageSuccess</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
    </snippet>
    <timestamp>12/13/2018 16:30:45 PST</timestamp>
</template>
